<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.newMall.dao.WX_AddressDao">

    <sql id="columnList">    <!-- 字段 -->
        id,
        uid,
        name,
        phone,
        province_id,
        province_name,
        city_id,
        city_name,
        region_id,
        region_name,
        street_id,
        street_name,
        detail_address,
        is_default_address,
        status,
        create_time,
        update_time
    </sql>

    <sql id="TColumnList">    <!-- 带表别名的字段 -->
        na.id as "id",
        na.uid as "uid",
        na.name as "name",
        na.phone as "phone",
        na.province_id as "provinceId",
        na.province_name as "provinceName",
        na.city_id as "cityId",
        na.city_name as "cityName",
        na.region_id as "regionId",
        na.region_name as "regionName",
        na.street_id as "streetId",
        na.street_name as "streetName",
        na.detail_address as "detailAddress",
        na.is_default_address as "isDefaultAddress",
        na.status as "status",
        date_format(na.create_time, '%Y-%c-%d %H:%i:%s') as "createTime",
        date_format(na.update_time, '%Y-%c-%d %H:%i:%s') as "updateTime"
    </sql>

    <sql id="queryConaitions"><!-- 查询条件 -->
        <where>na.status='0'
            <if test="id != null and id != ''">
                AND na.id = #{id}
            </if>
            <if test="uid != null and uid != ''">
                AND na.uid =  #{uid}
            </if>
            <if test="name != null and name != ''">
                AND na.name like concat('%',#{name},'%')
            </if>
            <if test="phone != null and phone != ''">
                AND na.phone =  #{phone}
            </if>
            <if test="provinceId != null and provinceId != ''">
                AND na.province_id =  #{provinceId}
            </if>
            <if test="provinceName != null and provinceName != ''">
                AND na.province_name like concat('%',#{provinceName},'%')
            </if>
            <if test="cityId != null and cityId != ''">
                AND na.city_id =  #{cityId}
            </if>
            <if test="cityName != null and cityName != ''">
                AND na.city_name like concat('%',#{cityName},'%')
            </if>
            <if test="regionId != null and regionId != ''">
                AND na.region_id =  #{regionId}
            </if>
            <if test="regionName != null and regionName != ''">
                AND na.region_name like concat('%',#{regionName},'%')
            </if>
            <if test="streetId != null and streetId != ''">
                AND na.street_id =  #{streetId}
            </if>
            <if test="streetName != null and streetName != ''">
                AND na.street_name like concat('%',#{streetName},'%')
            </if>
            <if test="detailAddress != null and detailAddress != ''">
                AND na.detail_address like concat('%',#{detailAddress},'%')
            </if>
            <if test="isDefaultAddress != null and isDefaultAddress != ''">
                AND na.is_default_address =  #{isDefaultAddress}
            </if>
        </where>
        ORDER BY na.create_time desc
    </sql>

    <insert id="addAddress" parameterType="java.util.Map" useGeneratedKeys="true"
            keyProperty="id">
        insert into n_address (
            <include refid="columnList"/>
        ) values (
            #{id},
            #{uid},
            #{name},
            #{phone},
            #{provinceId},
            #{provinceName},
            #{cityId},
            #{cityName},
            #{regionId},
            #{regionName},
            #{streetId},
            #{streetName},
            #{detailAddress},
            #{isDefaultAddress},
            #{status},
            #{createTime},
            #{updateTime}
        )
    </insert>

    <delete id="deleteAddress">
        update n_address na set na.status=1 WHERE 1=1
        <if test="id != null and id != ''">
            AND id = #{id}
        </if>
    </delete>

    <update id="updateAddress">
        update n_address na
        <set>
            <if test="name != null and name != ''">
               na.name = #{name},
            </if>
            <if test="phone != null and phone != ''">
               na.phone = #{phone},
            </if>
            <if test="provinceId != null and provinceId != ''">
               na.province_id = #{provinceId},
            </if>
            <if test="provinceName != null and provinceName != ''">
               na.province_name = #{provinceName},
            </if>
            <if test="cityId != null and cityId != ''">
               na.city_id = #{cityId},
            </if>
            <if test="cityName != null and cityName != ''">
               na.city_name = #{cityName},
            </if>
            <if test="regionId != null and regionId != ''">
               na.region_id = #{regionId}
            </if>
            <if test="regionName != null and regionName != ''">
              na.region_name = #{regionName},
            </if>
            <if test="streetId != null and streetId != ''">
               na.street_id = #{streetId}
            </if>
            <if test="streetName != null and streetName != ''">
              na.street_name = #{streetName},
            </if>
            <if test="detailAddress != null and detailAddress != ''">
               na.detail_address = #{detailAddress},
            </if>
            <if test="isDefaultAddress != null and isDefaultAddress != ''">
               na.is_default_address = #{isDefaultAddress},
            </if>
            na.update_time = CURRENT_TIMESTAMP
        </set>
        where 1=1
        <if test="id != null and id != ''">
            and na.id = #{id}
        </if>
    </update>

    <select id="getSimpleAddressByConaition" resultType="java.util.Map">
        SELECT
            <include refid="TColumnList"/>
        FROM n_address na
            <include refid="queryConaitions"/>
        <if test="start != null and size != null">
            LIMIT ${start},${size}
        </if>
    </select>

    <select id="getSimpleAddressTotalByConaition" resultType="java.lang.Integer">
        SELECT
            COUNT(*) total
        from n_address na
            <include refid="queryConaitions"/>
    </select>

</mapper>
