<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.newMall.dao.WX_ProductDao">

    <sql id="columnList">    <!-- 字段 -->
        id,
        title,
        degist,
        descript,
        stock,
        head_img_url,
        describe_img_url,
        price,
        integral,
        category,
        status,
        create_time,
        update_time
    </sql>

    <sql id="TColumnList">    <!-- 带表别名的字段 -->
        np.id as "id",
        np.title as "title",
        np.degist as "degist",
        np.descript as "descript",
        np.stock as "stock",
        np.head_img_url as "headImgUrl",
        np.describe_img_url as "describeImgUrl",
        np.price as "price",
        np.integral as "integral",
        np.category as "category",
        np.status as "status",
        date_format(np.create_time, '%Y-%c-%d %H:%i:%s') as "createTime",
        date_format(np.update_time, '%Y-%c-%d %H:%i:%s') as "updateTime"
    </sql>

    <sql id="queryConditions"><!-- 查询条件 -->
        <where>np.status='0'
            <if test="id != null and id != ''">
                AND np.id = #{id}
            </if>
            <if test="title != null and title != ''">
                AND np.title like concat('%',#{title},'%')
            </if>
            <if test="degist != null and degist != ''">
                AND np.degist like concat('%',#{degist},'%')
            </if>
            <if test="descript != null and descript != ''">
                AND np.descript like concat('%',#{descript},'%')
            </if>
            <if test="stock != null and stock != ''">
                AND np.stock = #{stock}
            </if>
            <if test="headImgUrl != null and headImgUrl != ''">
                AND np.head_img_url like concat('%',#{headImgUrl},'%')
            </if>
            <if test="describeImgUrl != null and describeImgUrl != ''">
                AND np.describe_img_url like concat('%',#{describeImgUrl},'%')
            </if>
            <if test="price != null and price != ''">
                AND np.price = #{price}
            </if>
            <if test="integral != null and integral != ''">
                AND np.integral = #{integral}
            </if>
            <if test="category != null and stock != ''">
                AND np.category = #{category}
            </if>
        </where>
        ORDER BY np.create_time desc
    </sql>

    <insert id="addProduct" parameterType="java.util.Map" useGeneratedKeys="true"
            keyProperty="id">
        insert into n_product (
            <include refid="columnList"/>
        ) values (
            #{id},
            #{title},
            #{degist},
            #{descript},
            #{stock},
            #{headImgUrl},
            #{describeImgUrl},
            #{price},
            #{integral},
            #{category},
            #{status},
            #{createTime},
            #{updateTime}
        )
    </insert>

    <delete id="deleteProduct">
        update n_product np set np.status=1  WHERE 1=1
        <if test="id != null and id != ''">
            AND np.id = #{id}
        </if>
    </delete>

    <update id="updateProduct">
        update n_product np
        <set>
            <if test="title != null and title != ''">
               np.title = #{title},
            </if>
            <if test="degist != null and degist != ''">
               np.degist = #{degist},
            </if>
            <if test="descript != null and descript != ''">
               np.descript = #{descript},
            </if>
            <if test="stock != null and stock != ''">
               np.stock = #{stock},
            </if>
            <if test="headImgUrl != null and headImgUrl != ''">
               np.head_img_url = #{headImgUrl},
            </if>
            <if test="describeImgUrl != null and describeImgUrl != ''">
               np.describe_img_url = #{describeImgUrl},
            </if>
            <if test="price != null and price != ''">
               np.price = #{price},
            </if>
            <if test="integral != null and integral != ''">
               np.integral = #{integral},
            </if>
            <if test="category != null and stock != ''">
               np.category = #{category},
            </if>
            np.update_time = CURRENT_TIMESTAMP
        </set>
        where 1=1
        <if test="id != null and id != ''">
            and np.id = #{id}
        </if>
    </update>

    <select id="getSimpleProductByCondition" resultType="java.util.Map">
        SELECT
            <include refid="TColumnList"/>
        FROM n_product np
            <include refid="queryConditions"/>
        <if test="start != null and size != null">
            LIMIT ${start},${size}
        </if>
    </select>

    <select id="getSimpleProductTotalByCondition" resultType="java.lang.Integer">
        SELECT
            COUNT(*) total
        from n_product np
            <include refid="queryConditions"/>
    </select>

</mapper>
