<?xml version="1.0" encoding="UTF-8"?>
<configuration status="info">

    <Properties>
        <Property name="LOG_HOME">logs</Property>
    </Properties>

    <!--先定义所有的appender-->
    <appenders>
        <!--&lt;!&ndash;这个输出控制台的配置&ndash;&gt;-->
        <!--<Console name="Console" target="SYSTEM_OUT">-->
            <!--&lt;!&ndash;控制台只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch）&ndash;&gt;-->
            <!--<ThresholdFilter level="trace" onMatch="ACCEPT"-->
                             <!--onMismatch="DENY"/>-->
            <!--&lt;!&ndash;这个都知道是输出日志的格式&ndash;&gt;-->
            <!--<PatternLayout-->
                    <!--pattern="%d{HH:mm:ss.SSS} %-5level %class{36} %M-%msg%xEx%n"/>-->
        <!--</Console>-->

        <!-- newMall info级别的 -->
        <RollingFile name="newMall-info"
                     fileName="${LOG_HOME}/newMall-info.log"
                     filePattern="logs/newMall-info.log.%d{MM-dd-yyyy}">
            <ThresholdFilter level="info" onMatch="ACCEPT"
                             onMismatch="DENY"/>
            <PatternLayout
                    pattern="%d{yyyy-MM-dd 'at' HH:mm:ss.SSS z} %-5level %c %M-%msg%xEx%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="false" interval="1"/>
            </Policies>
            <!-- 此行以下为自动清理日志的配置 -->
            <DefaultRolloverStrategy>
                <Delete basePath="logs">
                    <!-- glob 项为需要自动清理日志的pattern -->
                    <IfFileName glob="*.log"/>
                    <!-- 3d 表示自动清理掉3天以前的日志文件 -->
                    <IfLastModified age="24H"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <!-- newMall warn -->
        <RollingFile name="newMall-warn"
                     fileName="${LOG_HOME}/newMall-warn.log"
                     filePattern="logs/newMall-warn.log.%d{MM-dd-yyyy}">
            <ThresholdFilter level="warn" onMatch="ACCEPT"
                             onMismatch="DENY"/>
            <PatternLayout
                    pattern="%d{yyyy-MM-dd 'at' HH:mm:ss.SSS z} %-5level %c %M-%msg%xEx%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="false" interval="1"/>
            </Policies>
            <!-- 此行以下为自动清理日志的配置 -->
            <DefaultRolloverStrategy>
                <Delete basePath="logs">
                    <!-- glob 项为需要自动清理日志的pattern -->
                    <IfFileName glob="*.log"/>
                    <!-- 3d 表示自动清理掉3天以前的日志文件 -->
                    <IfLastModified age="24H"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <!-- newMall error -->
        <RollingFile name="newMall-error"
                     fileName="${LOG_HOME}/newMall-error.log"
                     filePattern="logs/newMall-error.log.%d{MM-dd-yyyy}">
            <ThresholdFilter level="error" onMatch="ACCEPT"
                             onMismatch="DENY"/>
            <PatternLayout
                    pattern="%d{yyyy-MM-dd 'at' HH:mm:ss.SSS z} %-5level %c %M-%msg%xEx%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="false" interval="1"/>
            </Policies>
            <!-- 此行以下为自动清理日志的配置 -->
            <DefaultRolloverStrategy>
                <Delete basePath="logs">
                    <!-- glob 项为需要自动清理日志的pattern -->
                    <IfFileName glob="*.log"/>
                    <!-- 3d 表示自动清理掉3天以前的日志文件 -->
                    <IfLastModified age="24H"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

    </appenders>

    <!--然后定义logger，只有定义了logger并引入的appender，appender才会生效-->
    <loggers>
        <logger name="com.br.newMall" additivity="false">
            <appender-ref ref="newMall-info"/>
            <appender-ref ref="newMall-error"/>
            <appender-ref ref="newMall-warn"/>
            <appenderRef ref="Console"/>
            <!--这段上正式的时候需要去掉-->
        </logger>
    </loggers>
</configuration>
